@use 'variables';
@use 'initial';
.topcard{
    background-image: url(./../images/bg-main-mobile.png);
    background-size: cover;
    height: 35vh;
    font-size: small;
    position: relative;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width:1000px) {
        position: absolute;
        max-width: 400px;
        width: 100%;
        height: 100%;
        top: 0;
        
    }
}

.backcard{
    position: absolute;
    
    top: 20px;
    right: 10px;
    img{
        width: 300px;
        height: 150px;
    }
    &__code{
        position: absolute;
        top: 63px;
        right: 30px;
    }
    @media (min-width:1000px) {
        top: 300px;
        left: 240px;
        &__code{
            right: -110px;
        }
    }
}

.frontcard{
    position: absolute;
    z-index: 10;
    bottom: -40px;
    left: 30px;
    &__card{
        width: 300px;
        height: 150px;
    }
    &__logo{
        position: absolute;
        top: 10px;
        left: 5px;
        width: 50px;
        height: 30px;
    }
    &__numbers{
        position: absolute;
        bottom: 50px;
        left: 20px;
    }
    &__datas{
        position: absolute;
        width: 90%;
        bottom: 20px;
        left: 20px;
        display: flex;
        justify-content: space-between;
        // background-color: red;
    }
    @media (min-width:1000px) {
        // border: 1px solid red;
        bottom: 350px;
        left: 180px;
        font-size: larger;
    }
}
.formulario{
    margin-top: 80px;
    display: flex;
    flex-flow: column nowrap;
    margin-left: 30px;
    max-width: 375px;
    
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    input{
        width: 80%;
        height: 30px;
        margin-top: 8px;
        margin-left: 30px;
    }
    label{
        margin-top: 8px;
        margin-left: 30px;
    }
    &__warning{
        margin-left: 30px;
        color: variables.$Red;
    }
    &__submit{
        background-color: variables.$Very-dark-violet;
        color: variables.$White;
        height: 40px;
        width: 80%;
        border: 0;
        border-radius: 5px;
        margin-top: 40px;
        font-family: variables.$fontBody;
        margin-left: 30px;
    }
    @media (min-width:1000px) {
        position: relative;
        left: 200px;
    }
}

.datecvc{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
    gap: 6px;
    &__date{
        input{
            width: 60px;
            margin-left: 0;
        }
        label{
            margin: 0;   
        }

    }
    &__cvc{
        input{
            width: 140px;
        }
    }
}

.complete_space{
    border: 1px solid red;
    text-align: center;
    margin-top: 100px;
    font-size: 14px;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    &__img{
        display: inline-block;
    }
    &__frase1{
        color: variables.$Very-dark-violet;
        font-size: 30px;
    }
    &__frase2{
        color: variables.$Dark-grayish-violet;
    }
    input{
        width: 80%;
        height: 30px;
        margin-top: 8px;
        margin-left: 30px;
        background-color: variables.$Very-dark-violet;
    }
    &__submit{
        margin: inherit;
    }

    @media (min-width:1000px) {
        margin-left: max(683px,50%);  
    }
}
.appear{
    display: block;
}
.disappear{
    display:none;
}
.attribution{
    // border: 1px solid red;
    @media (min-width: 1000px) {
        margin-left: 400px;
    }
}

