@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: hsl(0deg, 0%, 100%);
}

.topcard {
  background-image: url(./../images/bg-main-mobile.png);
  background-size: cover;
  height: 35vh;
  font-size: small;
  position: relative;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1000px) {
  .topcard {
    position: absolute;
    max-width: 400px;
    width: 100%;
    height: 100%;
    top: 0;
  }
}

.backcard {
  position: absolute;
  top: 20px;
  right: 10px;
}
.backcard img {
  width: 300px;
  height: 150px;
}
.backcard__code {
  position: absolute;
  top: 63px;
  right: 30px;
}
@media (min-width: 1000px) {
  .backcard {
    top: 300px;
    left: 240px;
  }
  .backcard__code {
    right: -110px;
  }
}

.frontcard {
  position: absolute;
  z-index: 10;
  bottom: -40px;
  left: 30px;
}
.frontcard__card {
  width: 300px;
  height: 150px;
}
.frontcard__logo {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 50px;
  height: 30px;
}
.frontcard__numbers {
  position: absolute;
  bottom: 50px;
  left: 20px;
}
.frontcard__datas {
  position: absolute;
  width: 90%;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1000px) {
  .frontcard {
    bottom: 350px;
    left: 180px;
    font-size: larger;
  }
}

.formulario {
  border: 1px solid red;
  margin-top: 80px;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 30px;
  max-width: 375px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}
.formulario input {
  width: 80%;
  height: 30px;
  margin-top: 8px;
  margin-left: 30px;
}
.formulario label {
  margin-top: 8px;
  margin-left: 30px;
}
.formulario__warning {
  margin-left: 30px;
  color: hsl(0deg, 100%, 66%);
}
.formulario__submit {
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  height: 40px;
  width: 80%;
  border: 0;
  border-radius: 5px;
  margin-top: 40px;
  font-family: "Space Grotesk", sans-serif;
  margin-left: 30px;
}
@media (min-width: 1000px) {
  .formulario {
    position: relative;
    left: 200px;
  }
}

.datecvc {
  display: flex;
  margin-left: 30px;
  margin-top: 20px;
  gap: 6px;
}
.datecvc__date input {
  width: 60px;
  margin-left: 0;
}
.datecvc__date label {
  margin: 0;
}
.datecvc__cvc input {
  width: 140px;
}

.complete_space {
  border: 1px solid red;
  text-align: center;
  margin-top: 100px;
  font-size: 14px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}
.complete_space__img {
  display: inline-block;
}
.complete_space__frase1 {
  color: hsl(278deg, 68%, 11%);
  font-size: 30px;
}
.complete_space__frase2 {
  color: hsl(279deg, 6%, 55%);
}
.complete_space input {
  width: 80%;
  height: 30px;
  margin-top: 8px;
  margin-left: 30px;
  background-color: hsl(278deg, 68%, 11%);
}
.complete_space__submit {
  margin: inherit;
}

.appear {
  display: block;
}

.disappear {
  display: none;
}

@media (min-width: 1000px) {
  .attribution {
    margin-left: 400px;
  }
}

/*# sourceMappingURL=styles.css.map */
